@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
/* font-family: 'Miama', sans-serif;*/

/*  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

/* shared styling starts */

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
body {
  background-color: black;
}
.display-flex {
  display: flex;
}
.container {
  /* max-width: 1060px; */
  width: 85%;
  margin: 0 auto;
}
.btn-primary {
  background-color: #e6533c;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 46px;
  border: none;
  padding: 8px 20px;
}
p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.section-title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  color: #ffffff;
}
/* shared styling ends */

/* header styling starts */
.header {
  /* background: linear-gradient(to bottom, #111111 0%, #1a1a1a 50%, #111111 100%); */
  /* background: linear-gradient(
    to bottom,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  ); */
  /* background: linear-gradient(to bottom, black, gray, black); */
  background: linear-gradient(
    to bottom,
    #0e0e0e 0%,
    #1c1c1c 40%,
    #1c1c1c 60%,
    #0e0e0e 100%
  );
}
/* navbar starts */
.navbar {
  justify-content: space-between;
  padding-top: 55px;
  align-items: center;
  margin-bottom: 32px;
}

.nav-option {
  gap: 47px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125rem;
}
.about-section {
  padding: 0 20px;
}

.brand-name {
  color: #e6533c;
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
}

.icon {
  display: none;
}
/* navbar ends */

/* banner-section */
.banner-container {
  justify-content: space-between;
  /* gap: 87px; */
}
.banner-text {
  max-width: 520px;
  margin-top: 64px;
  letter-spacing: 0%;
}
.banner-title {
  font-size: 4.875rem;
  font-weight: 900;
  /* line-height: 120%; */
  /* position: relative;
  display: inline-block; */
}
#shape {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 9px;
}
.banner-description {
  font-size: 16px;
  margin: 28px 0;
  letter-spacing: 0.5px;
}
.banner-button-container {
  display: flex;
  gap: 14px;
}
.banner-buttons {
  width: 224px;
  border-radius: 42px;
  padding: 16px 46px;
  font-weight: 600;
  font-size: 18px;
}
.btn-secondary {
  background-color: rgb(0, 0, 0);
  border: 1px solid #ffffff;
}
.banner-button-container-mobile {
  display: none;
}

/* right side */
.play-icon {
  display: none;
}
.red-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e6533c;
}
.three-hundred-text-container {
  flex-direction: column;
  gap: 8px;
}
.banner-image {
  position: relative;
  margin-right: 20px;
}
.three-hundred {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 206px;
  padding: 20px 23px;
  gap: 12px;
  background: rgba(48, 48, 48, 0.54);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  position: absolute;
  margin-top: -159px;
  margin-left: -113px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.text-350 {
  font-weight: 900;
  font-size: 24px;
  color: #ffffff;
}
.text-des-350 {
  color: rgba(239, 237, 232, 0.65);
  font-size: 16px;
}

.five-hundred {
  width: fit-content;
  position: absolute;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  /* max-width: 200px; */
  padding: 17px 20px;
  /* height: 98px; */
  backdrop-filter: blur(20px);
  margin-top: -455px;
  margin-left: 230px;
}

.text-500 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #ffffff;
}
.text-des-500 {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.65);
  /* margin-top: 5px; */
  letter-spacing: 1px;
  text-align: left;
  white-space: nowrap;
}

/* header styling ends */

/* change your habit styling starts */
.change-habit {
  margin-top: 100px;
}
.habit-title {
  text-align: center;
  letter-spacing: 120%;
}
.habit-description {
  text-align: center;
  max-width: 671px;
  letter-spacing: 0.3px;
  margin: 0 auto;
  margin-top: 14px;
  line-height: 24px;
}
.habit-card-container {
  margin-top: 58px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.habit-card {
  max-width: 231px;
}
.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.habit-card-image {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
.habit-card-title {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
  line-height: 120%;
  font-size: 1.125rem;
}
.habit-card-description {
  margin-top: 6px;
  font-size: 0.78rem;
  letter-spacing: 0.3px;
  text-align: center;
}
/* change your habit styling ends */

/* run an extra mile starts */
.run-extra-mile {
  background: rgba(34, 34, 34, 1);
  margin: 0 auto;
  margin-top: 100px;
  gap: 165px;
  padding: 30px 32px 29px 54px;
  border-radius: 18px;
  justify-content: space-between;
}
.run-extra-mile-texts {
  max-width: 443px;
  flex-direction: column;
  justify-content: center;
}
.run-extra-mile-title {
  line-height: 120%;
}
.run-extra-mile-description {
  margin-top: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.run-extra-mile-image-container {
  width: 366px;
  height: 312px;
  border-radius: 18px;
}
.run-extra-mile-image {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: 66% 33%;
  border-radius: 18px;
}
.extra-mile-btn {
  margin-top: 34px;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 16px 71.5px;
  max-width: 224px;
}
/* run an extra mile ends */

/* BMI calculator styling starts */
.calculator-title-container {
  margin-top: 88px;
}

.calculator-intro {
  max-width: 671px;
  margin: 0 auto;
}
.calculator-description {
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-top: 14px;
}

/* calculator container */

.calculator-container {
  margin-top: 88px;
  background: rgba(34, 34, 34, 1);
  padding-top: 50px;
  padding-bottom: 52px;
}
.calculator-content {
  gap: 175px;
  justify-content: space-around;
}

.calculator-container h3 {
  font-size: 1.75rem;
}
.table-title {
  margin-bottom: 52px;
}
table,
th,
td,
tr,
tfoot {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}
table {
  width: 310px;
}
th,
td {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 20px;
  text-align: left;
}
th {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 120%;
}
td {
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.5);
}

/* right side */
.calculating-part {
  max-width: 577px;
}

.calculating-part-title {
  margin-bottom: 14px;
}

.calculating-part-description {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.3px;
  line-height: 120%;
}
.input-options-container {
  margin-top: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.input-options-container input,
select {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  border: none;
  line-height: 22px;
}
.activity-factor {
  grid-column: span 2;
}
::placeholder {
  color: rgba(255, 255, 255, 0.6);
  /* opacity: 1; Ensure full opacity */
}
.input-options-container option {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}
/* buttons */

.btn-calculation {
  width: 224px;
  margin-top: 34px;
  padding: 16px 70px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}
/* BMI calculator styling ends */

/* successstories styling starts */
.sucess-stories-container {
  margin-top: 88px;
  margin-bottom: 88px;
}
.success-title {
  text-align: center;
}
.success-description {
  margin-top: 14px;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.name {
  font-size: 32px;
  font-weight: 800;
}
.occupation {
  margin-bottom: 20px;
  font-weight: 600;
}
.before,
.after {
  width: 300px;
  height: 250px;
  overflow: hidden;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);
}
.success-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.success-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 18px;

  position: relative;
}
.success-condtion {
  color: #ffffff;
  position: absolute;
  margin-top: -40px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 800;
}
.success-content {
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.success-text {
  max-width: 320px;
}
.quote {
  text-align: justify;
  font-style: italic;
  /* max-width: 200px; */
  /* max-width: 50%; */
}
.for-margin {
  margin-bottom: 50px;
}
.mark {
  /* margin-top: 20px; */
  margin-bottom: 50px;
  justify-content: space-between;
}
.success-image-2 {
  /* width: 300px; */
  height: 350px;
  overflow: hidden;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);
}
.success-image-2 img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  overflow: hidden;
  border-radius: 18px;
}
.mark {
  display: flex;
  justify-content: center;
  gap: 100px;
  /* gap: 50px; */
}
.declaration {
  justify-content: center;
  align-items: center;
  /* max-width: 70%; */
  margin: 0 auto;
}
.copy-right {
  text-align: justify;
}

/* successstories styling ends */

/* team-member styling starts*/

.meet-our-team {
  margin-top: 88px;
}
.meet-our-team > h3 {
  text-align: center;
}

.meet-our-team > p {
  margin-top: 14px;
  text-align: center;
  max-width: 671px;
  margin: 0 auto;
  /* max-width: 1060px; */
}
.team-image-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.team-image-container {
  margin-top: 58px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  /* justify-content: center; */
  /* padding-bottom: 20px;
  padding-left: auto;
  padding-right: auto; */
  gap: 20px;
  /* margin: 0 auto; */
}
.team-image-card {
  width: 326px;
  height: 272px;
  border-radius: 18px;
  position: relative;
  margin: auto auto;
  /* justify-self: center; */
  /* background: rgba(0, 0, 0, 0.8); */
}
.team-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
  /* background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken; */
}

.name-trainer {
  position: absolute;
  margin-left: 19px;
  margin-top: -54px;
}

.team-member-name {
  text-align: left;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 1);
}
.member-title {
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}
/* team-member styling ends*/

/* footer styling starts */
footer {
  margin-top: 88px;
  background: rgba(255, 255, 255, 0.1);
  padding-top: 66px;
  padding-bottom: 36px;
  margin-bottom: 11px;
}
.footer-container {
  /* margin-top: 100px; */
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr;
  gap: 120px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 79px;
}
.footer-title {
  font-weight: 800;
  font-size: 4.375rem;
}
.footer-description {
  margin-top: 20px;
  letter-spacing: 0.3px;
  max-width: 443px;
}
.column-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 39px;
}
.footer-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-link p {
  font-size: 1.4375rem;
  color: rgba(255, 255, 255, 0.5);
}
footer hr {
  max-width: 87%;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.copyright-text {
  font-size: 20px;
  text-align: center;
  margin-top: 36px;
}

/* .column-1 {
  margin-right: 50px;
} */
/* footer styling ends */

/* responsive styling for mobile device starts */
@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .navbar {
    margin-bottom: 51px;
  }

  .icon {
    display: block;
    width: 24px;
    height: 24px;
  }

  .nav-option {
    display: none;
  }
  .icon {
    justify-content: center;
    align-items: center;
  }
  /* banner */
  .banner-container {
    flex-direction: column;
  }
  .banner-text {
    /* max-width: 520px; */
    margin-top: 0px;
    letter-spacing: 0%;
  }
  .banner-title {
    font-size: 36px;
    max-width: 285px;
  }
  .banner-description {
    max-width: 285px;
    letter-spacing: 0.5px;
  }
  /* buttons */
  .banner-button-container {
    display: none;
  }
  .banner-button-container-mobile {
    display: flex;
    gap: 14px;
    margin-bottom: 48px;
  }
  .banner-buttons {
    padding: 16px 41px;
    max-width: 169px;
  }
  .btn-secondary {
    padding: 16px 20px;
  }
  /* right side */
  .red-circle {
    display: none;
  }
  .play-icon {
    display: flex;
    font-size: 30px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }

  .three-hundred {
    width: 155px;
    padding: 15px 17px;
    gap: 9px;
    background: rgba(48, 48, 48, 0.54);
    border-radius: 9px;
    margin-top: -320px;
    margin-left: 12px;
    border: 0.76px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }
  .text-350 {
    font-size: 18px;
  }
  .text-des-350 {
    color: rgba(239, 237, 232, 0.65);
    font-size: 12px;
  }
  .three-hundred-text-container {
    gap: 5px;
  }

  .five-hundred {
    border: 0.76px solid rgba(255, 255, 255, 0.1);
    border-radius: 9px;
    /* max-width: 200px; */
    padding: 12px 16px;
    /* height: 98px; */
    backdrop-filter: blur(10px);
    margin-top: -530px;
    margin-left: 194px;
  }

  .text-500 {
    font-size: 30px;
    letter-spacing: 0.76px;
  }
  .text-des-500 {
    font-size: 10px;
    line-height: 15.1px;

    /* margin-top: 5px; */
    letter-spacing: 0.76px;
    text-align: left;
    white-space: nowrap;
  }
  .banner-image {
    margin: 0 auto;
  }

  /* change your habbit */

  .change-habit {
    margin-top: 7px;
  }
  .habit-title {
    text-align: center;
    font-size: 32px;
  }
  .habit-description {
    max-width: 316px;
  }
  .for-responsivness {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .habit-card-container {
    /* margin: 0 auto; */
    margin-top: 58px;

    grid-template-columns: 1fr;
  }
  /* run-extra-mile */
  .run-extra-mile {
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    gap: 31px;
    padding: 0;
    padding-top: 31px;
    padding-bottom: 33px;
    /* padding-left: 25px;
    padding-right: 25px; */
    /* justify-content: center; */
    align-items: center;
  }
  .run-extra-mile-title {
    line-height: 120%;
    font-size: 32px;
    max-width: 287px;
  }
  .run-extra-mile-description {
    max-width: 287px;
  }
  /* .run-extra-mile-texts {
    max-width: 77%;
  } */
  .extra-mile-btn {
    max-width: 287px;
  }
  .run-extra-mile-image-container {
    max-width: 287px;
    height: 170px;
  }
  .run-extra-mile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 60% 80%; */
    border-radius: 18px;
  }

  /* BMI calculator starts*/

  .calculator-content {
    flex-direction: column;
    gap: 42px;
  }

  .calculator-title-container {
    margin-top: 30px;
  }
  .calculator-intro {
    max-width: 85%;
    margin: 0 auto;
    text-align: left;
  }
  .calculator-intro h3 {
    font-size: 32px;
  }

  .calculator-container {
    margin-top: 32px;
    padding-top: 34px;
  }
  .charting-table > h3 {
    font-size: 16px;
  }
  .calculating-part > h3 {
    font-size: 16px;
  }
  .table-title {
    margin-bottom: 23px;
  }
  .calculating-part {
    max-width: 85%;
    /* margin-top: 42px; */
  }
  .input-options-container {
    max-width: 80%;
    margin-top: 34px;
    display: grid;
    grid-template-columns: 75% 75%;
    gap: 12px;
  }
  .calculating-part > button {
    margin-top: 34px;
  }

  /* sucess section */
  .sucess-stories-container {
    margin-top: 44px;
    margin-bottom: 44px;
  }

  .success-title {
    text-align: center;
    font-size: 32px;
  }

  .success-description {
    margin-top: 20px;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .success-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .success-content {
    flex-direction: column;
    gap: 20px;
  }
  .name {
    font-size: 28px;
  }
  /* team section */
  .meet-our-team {
    margin-top: 66px;
  }
  .meet-our-team > h3 {
    font-size: 32px;
  }
  .meet-our-team > p {
    margin-top: 14px;
    letter-spacing: 0.3px;
    line-height: 24px;
  }
  .team-image-container {
    margin-top: 37px;

    grid-template-columns: 1fr;
    margin-bottom: 0;
  }

  /* footer */
  .footer-container {
    /* margin-top: 100px; */
    /* display: grid; */
    grid-template-columns: 1fr;
    gap: 30px;
    /* padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 79px; */
    margin-bottom: 71px;
  }
  footer {
    margin-top: 66px;
    padding-top: 20px;
    padding-bottom: 57px;
    margin-bottom: 0;
  }
  footer hr {
    /* margin-top: 71px; */
    /* margin-bottom: 71px; */
  }
  .copyright-text {
    /* font-size: 20px;
    text-align: center; */
    margin-top: 71px;
  }
}
/* responsive styling for mobile device ends */

/* respomsive styling for tablet starts */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    max-width: 90%;
  }
  .btn-primary,
  .nav-link {
    font-size: 16px;
  }
  .nav-option {
    gap: 20px;
  }
  .banner-button-container-mobile {
    display: none;
  }
  .play-icon {
    display: none;
  }
  /* banner */
  .banner-container {
    flex-direction: column;
  }
  .banner-image {
    margin: 0 auto;
    margin-top: 100px;
  }
  .banner-text {
    margin: 0 auto;
  }
  .navbar {
    margin-bottom: 0px;
  }
  .banner-container {
    margin-top: 75px;
  }
  .three-hundred {
    margin-top: -229px;
    margin-left: -50px;

    backdrop-filter: blur(10px);
  }
  .five-hundred {
    /* height: 98px; */
    backdrop-filter: blur(10px);
    margin-top: -530px;
    margin-left: 194px;
  }
  /* habit */
  .habit-card-container {
    /* margin: 0 auto; */
    margin-top: 58px;

    grid-template-columns: 1fr 1fr;
  }
}

/* respomsive styling for tablet ends */
