@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
/* font-family: 'Miama', sans-serif;*/

/*  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

/* shared styling starts */

* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
body {
  background-color: black;
}
.display-flex {
  display: flex;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.btn-primary {
  background-color: #e6533c;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 46px;
  border: none;
  padding: 8px 20px;
}
p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
/* shared styling ends */

/* header styling starts */
.header {
  /* background: linear-gradient(to bottom, #111111 0%, #1a1a1a 50%, #111111 100%); */
  /* background: linear-gradient(
    to bottom,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  ); */
  /* background: linear-gradient(to bottom, black, gray, black); */
  background: linear-gradient(
    to bottom,
    #0e0e0e 0%,
    #1c1c1c 40%,
    #1c1c1c 60%,
    #0e0e0e 100%
  );
}
/* navbar starts */
.navbar {
  justify-content: space-between;
  padding-top: 55px;
  align-items: center;
  margin-bottom: 32px;
}

.nav-option {
  gap: 47px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125rem;
}
.about-section {
  padding: 0 20px;
}

.brand-name {
  color: #e6533c;
  font-size: 2.25rem;
  font-weight: 800;
}

.icon {
  display: none;
}
/* navbar ends */

/* banner-section */
.banner-container {
  justify-content: space-between;
  /* gap: 87px; */
}
.banner-text {
  max-width: 520px;
  margin-top: 64px;
  letter-spacing: 0%;
}
.banner-title {
  font-size: 4.875rem;
  font-weight: 900;
  /* line-height: 120%; */
  /* position: relative;
  display: inline-block; */
}
#shape {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 9px;
}
.banner-description {
  font-size: 16px;
  margin: 28px 0;
  letter-spacing: 0.5px;
}
.banner-button-container {
  display: flex;
  gap: 14px;
}
.banner-buttons {
  width: 224px;
  border-radius: 42px;
  padding: 16px 46px;
  font-weight: 600;
  font-size: 18px;
}
.btn-secondary {
  background-color: rgb(0, 0, 0);
  border: 1px solid #ffffff;
}

/* right side */
.red-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e6533c;
}
.three-hundred-text-container {
  flex-direction: column;
  gap: 8px;
}
.banner-image {
  position: relative;
  margin-right: 20px;
}
.three-hundred {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 206px;
  padding: 20px 23px;
  gap: 12px;
  background: rgba(48, 48, 48, 0.54);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  position: absolute;
  margin-top: -159px;
  margin-left: -113px;
}
.text-350 {
  font-weight: 900;
  font-size: 24px;
  color: #ffffff;
}
.text-des-350 {
  color: rgba(239, 237, 232, 0.65);
  font-size: 16px;
}

.five-hundred {
  width: fit-content;
  position: absolute;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  /* max-width: 200px; */
  padding: 17px 20px;
  /* height: 98px; */
  backdrop-filter: blur(20px);
  margin-top: -455px;
  margin-left: 230px;
}

.text-500 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #ffffff;
}
.text-des-500 {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.65);
  /* margin-top: 5px; */
  letter-spacing: 1px;
  text-align: left;
  white-space: nowrap;
}
/* header styling ends */

/* responsive styling for mobile device starts */
@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }

  .icon {
    display: block;
    width: 24px;
    height: 24px;
  }

  .nav-option {
    display: none;
  }
  .icon {
    justify-content: center;
    align-items: center;
  }
}
/* responsive styling for mobile device ends */

/* respomsive styling for tablet starts */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    max-width: 90%;
  }
  .btn-primary,
  .nav-link {
    font-size: 16px;
  }
  .nav-option {
    gap: 20px;
  }
}

/* respomsive styling for tablet ends */
